:root {
    --bg: #fff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  section {
    min-height: 100vh;
    align-items: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .table tr {
    background-color: rgb(7 7 7);
  }

  .table th {
    color: #fff;
    background-color: #009879;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  
/* Mobile Phone */
@media (max-width: 715px) {
    html {
        font-size: 50%;
    }
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .table-dark{
      padding: 1.2%;
      text-align: center;
      }
      
  .table{
    opacity: 60%;
  } 
