body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

.table-dark{
    padding: 1.2%;
    text-align: center;
    }
    
.table{
  opacity: 60%;
}
